@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import '../node_modules/basicui/styles/index.css';

@import '../src/style.css';

html body * {
    font-family: 'Roboto', sans-serif;
}

.powerui-light {
    background-color: var(--basicui-bg-base);
}

.powerui-dark {
    background-color: var(--basicui-bg-base);
}

#storybook-root {
    height: 100%;
}

html, body {
    height: 100%;
}