.powerui-list-textfield__value {
    text-wrap: auto;
    text-align: left;
}

.powerui-list-textfield__edit {}

.powerui-list-textfield__edit__reply {
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 12px;
    border: 1px solid var(--powerui-list-border-color);
    background-color: var(--powerui-list-bg-field-input);
    color: var(--basicui-fg);
    gap: 12px;
}

.powerui-list-textfield__edit__reply__input {
    border: none;
    width: 100%;
    outline: none;
    background-color: transparent;
    color: var(--basicui-fg);
}

.powerui-list-textfield__edit__reply__send svg {
    fill: var(--basicui-bg-primary);
}

.powerui-list-textfield__edit__reply__cancel svg {
    fill: var(--basicui-bg-default);
}

.powerui-list-textfield__label {
    color: var(--basicui-fg-disabled);
}